appdirs==1.4.3
Authlib==0.14.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
distlib==0.3.0
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
jedi==0.17.0
parso==0.7.0
pipenv==2018.11.26
pluggy==0.13.1
pycparser==2.20
python-jsonrpc-server==0.3.4
python-language-server==0.33.0
requests==2.23.0
simple-salesforce==1.0.0
six==1.14.0
squarespace==0.0.2
ujson==1.35
urllib3==1.25.9
virtualenv==20.0.16
virtualenv-clone==0.5.4
zipp==3.1.0
